# Make a .envrc file with the following content:
# Prefer a .envrc file over .env because the former supports loading env variables into the shell environment via direnv without needing to implement that manually in the code.
LOG_LEVEL=DEBUG
ENV=dev
